body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.main{
    display: flex;
    height: 60vh;
    width: 80%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 15px;
}

.bill-div, .people{
    display: flex;
    flex-direction: column;
    width: 400px;
}

#bill, #people-cont{
    height: 30px;
    border: 1px;
    background-color: hsl(189, 41%, 97%);

}
button{
    color: aliceblue;
    font-size: 18px;
    height: 40px;
    width: 100px;
    margin: 10px 20px;
    border-radius: 5px;
    border: solid transparent;
    background-color: hsl(183, 100%, 15%);
}

.button-clicked{
    background-color: hsl(185, 41%, 84%);
}

#select-tip{
    height: 30vh;
    width:  450px;
}

.results{
    width: 500px;
    height: 50vh;
    padding: 30px;
    color: aliceblue;
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
}

.results p{
    color:  hsl(185, 41%, 84%);
    font-size: 1.8rem;
}


.inputs{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 53vh;
   
}


#tip-person{
    display: inline; 
}
#tip-person > h3{
    margin-right: 100px;
}


#reset{
    background-color: hsl(185, 55%, 79%);
    width: 200px;
}

#reset:hover{
    background-color: rgba(12, 230, 230, 0.849);
}


